extends ../_base.pug

block content
  .content-section
    h1 Entering Game ....
    .game-log
      p Hello {{user.fullname}}
    div
      a(href="{{ url_for('mudexe.play_game') }}") Play
    .data
      | {% if users %}
      ul.users
        | {% for u in users %}
        li {{u.username}}
        | {% endfor %}
      | {% else %}
      div No users
      | {% endif %}

      | {% if players %}
      ul.players
        | {% for p in players %}
        li {{p.name}}
        | {% endfor %}
      | {% else %}
      div No players
      | {% endif %}
