extends ../_base.pug

block content
  .content-section
    h1 {{terminal.title}}
    .row
      .col-md-8
        p {{time_to_turn}}
        .room
          | {% if user.person.is_wizzard %}
          h2 {{ room_text.room.name }}{% if user.person.is_god %}[{{ room_text.room.id }}]{% endif %} 
          | {% endif %}

          | {% if user.ail_blind %}
          p You are blind... you can't see a thing!
          | {% endif %}

          pre
            | {% if room_text.description %}
            div {{room_text.description}}
            | {% endif %}

            | {% if room_text.objects %}
            ul
              | {% for o in room_text.objects %}
              li {% if o.is_dest %}--{% endif %}{{o.oplong(debug) }}
              | {% endfor %}
            | {% endif %}

            | {% if room_text.people %}
            ul
              | {% for p in room_text.people %}
              li {{p.show_name(debug) }} is here carrying
                 ul
                   | {% for i in user.player.lobjsat(user) %}
                   li {{i.short_name(player, debug)}}
                   | {% endfor %}
              | {% endfor %}
            | {% endif %}

      .col-md-4
        .row
          .col-md-6
            .row
              .col-md-3
                | &nbsp;
              .col-md-3
                a(href="{{ url_for('mudexe.go', direction='north') }}") North
              .col-md-3
                | &nbsp;
              .col-md-3
                a(href="{{ url_for('mudexe.go', direction='up') }}") Up
            .row
              .col-md-3
                a(href="{{ url_for('mudexe.go', direction='west') }}") West
              .col-md-3
                | &nbsp;
              .col-md-3
                a(href="{{ url_for('mudexe.go', direction='east') }}") East
              .col-md-3
                | &nbsp;
            .row
              .col-md-3
                | &nbsp;
              .col-md-3
                a(href="{{ url_for('mudexe.go', direction='south') }}") South
              .col-md-3
                | &nbsp;
              .col-md-3
                a(href="{{ url_for('mudexe.go', direction='down') }}") Down
          .col-md-6
            ul
              li
                a(href="{{ url_for('mudexe.quit') }}") Quit
              li
                a(href="{{ url_for('mudexe.go', direction='down') }}") Take
              li
                a(href="{{ url_for('mudexe.go', direction='down') }}") Drop
        div
          | "look","i","inv","inventory","who","reset","zap","eat","drink","play","shout","say","tell",
          | "save","score","exorcise","give","steal","pinch","levels","help","value","stats","examine","read",
          | "delete","pass","password","summon","weapon","shoot","kill","hit","fire","launch","smash","break",
          | "laugh",
          | "cry","burp","fart","hiccup","grin","smile","wink","snigger","pose","set",
          | "pray","storm","rain","sun","snow","goto",
          | "wear",
          | "remove","put","wave","blizzard","open","close","shut","lock","unlock","force","light",
          | "extinguish","where","turn","invisible","visible","pull","press","push","cripple","cure","dumb",
          | "change","missile","shock","fireball","translocate","blow","sigh","kiss","hug","slap",
          | "tickle","scream","bounce","wiz","stare","exits","crash","sing","grope","spray",
          | "groan","moan","directory","yawn","wizlist","in","smoke","deafen","resurrect","log",
          | "tss","rmedit","loc","squeeze","users","honeyboard","inumber","update","become","systat",
          | "converse","snoop","shell","raw","purr","cuddle","sulk","roll","credits","brief",
          | "debug","jump","wield","map","flee","bug","typo","pn","blind","patch","debugmode",
          | "pflags","frobnicate",
          | "strike",
          | "setin","setout","setmin","setmout","emote","dig","empty"
        .game-log
          pre
            | {{text1}}
          div
            form
              | {{prompt}}
              input(type="text", id="cmd", name="cmd")
              input(type="submit")
          pre
            | {{text}}
        .data
          | {% if users %}
          ul.users
            | {% for u in users %}
            li {{u.username}}
            | {% endfor %}
          | {% else %}
          div No users
          | {% endif %}

          | {% if players %}
          ul.players
            | {% for p in players %}
            li {{p.name}}
            | {% endfor %}
          | {% else %}
          div No players
          | {% endif %}
